.list-container {
  padding: 0px 24px;
  height: 100vh;
  width: 96%;
  border: 1px solid lightgray;
}

h2 {
  border-bottom: 1px solid lightgray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.unselectedHeader {
  margin-top: 25px;
}
